body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }
 
 main {
     flex-grow: 1;
 }
 
 footer {
     display: flex;
     justify-content: center;
     padding-top: 0;
     text-align: right;
     padding-bottom:15px;
 }

 .nav{
     background-color: #2c3E50;
 }

 .addBtn {
     background-color: rgb(51, 167, 181);
 }